<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="card">
  <h1>Cadastro</h1>
  <p class="subtitle">Crie sua conta</p>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

  <form method="POST">
    <div class="field">
      <label>Usuário</label>
      <input type="text" name="username" required placeholder="escolha um usuário">
    </div>
    <div class="field">
      <label>E-mail</label>
      <input type="email" name="email" required placeholder="seu@email.com">
    </div>
    <div class="field">
      <label>Senha</label>
      <input type="password" name="password" required placeholder="••••••••">
    </div>
     <div class="field">
      <label>Perfil</label>
      <div class="role-selector">
        <label class="role-option">
          <input type="radio" name="role_id" value="2" checked>
          <span class="role-card role-Paciente">🧑 Paciente</span>
        </label>
        <label class="role-option">
          <input type="radio" name="role_id" value="1">
          <span class="role-card role-Psicologo">🧠 Psicólogo</span>
        </label>
      </div>
    </div>
    <button class="btn" type="submit">Criar conta</button>
  </form>

  <div class="toggle">
    Já tem conta? <a href="{{ url_for('login') }}">Entrar</a>
  </div>
</div>
</body>
</html>
